:root {
  --dark-grey: #182628;
  --light-gray: #f2f2f2;
  --light-green: #65ccb8;
}

body {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  background: #f3f3f3;
}

/* NAVBAR */
.navbar {
  background: var(--light-green);
}

.navbar--list {
  list-style: none;
  height: 4em;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar--item {
  display: block;
  list-style: none;
  /* border: 2px red solid; */
  margin: 0 0.5em;
}

.navbar--link {
  display: inline-block;
  background-color: var(--dark-grey);
  border-radius: 3px;
  /* border: 2px blue solid; */
  padding: 0.5em 1em;
  color: white;
  font-weight: 700;
}

.navbar--link,
.navbar--link:hover,
.navbar--link:focus,
.navbar--link:active {
  text-decoration: none;
}

/* LAYOUT */
.container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}
