:root {
  --dark-grey: #182628;
  --light-gray: #f2f2f2;
  --light-green: #65ccb8;
}

body {
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  background: #f3f3f3;
}

/* NAVBAR */
.navbar {
  background: var(--light-green);
}

.navbar--list {
  list-style: none;
  height: 4em;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar--item {
  display: block;
  list-style: none;
  cursor: pointer;
  margin: 0 0.5em;
}

.navbar--link {
  text-decoration: none;
  display: inline-block;
  background-color: var(--dark-grey);
  border-radius: 3px;
  padding: 0.5em 1em;
  color: white;
  font-weight: 700;
}

.navbar--link:hover {
  text-decoration: none;
  background-color: var(--light-gray);
  color: var(--dark-grey);
}

/* LAYOUT */
.container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

/* INPUT FORM */
.form--container {
  min-width: 50%;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form--input {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  margin: 0.5em;
  width: 100%;
}

.form--error--msg {
  display: inline-block;
  font-weight: 600;
  max-width: 100%;
  color: red;
}

.form--submit {
  width: 100%;
  border: 2px whitesmoke solid;
  border-radius: 5px;
  background: var(--dark-grey);
  padding: 0.75rem 1rem;
  margin: 0.5em;
  color: white;
  font-weight: 700;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.form--submit:hover {
  transform: scale(1.05);
}

/* LOG  */
.log--container {
  width: 100%;
}

.log--item {
  display: flex;
  border: 2px solid black;
  margin-bottom: 1em;
}

.log--phonenumber {
  text-align: center;
  margin: auto 0;
  padding: 0.75em 1em;
}

.log--body {
  border-left: 2px solid black;
  padding: 0.75em 1em;
}
